.row {
	text-align: center;
	position: relative;
	height: 300px !important;
}

.carousel {
	position: absolute;
	left: 65% !important;
	width: 1000px;
	margin-left: -500px;
	overflow: hidden;
	height: 400px;
	margin-top: -15%;
}

.carousel .item {
	width: 350px;
	height: 250px;
	background: url('http://placehold.it/350x250') top left no-repeat;
	background-size: 100%;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.controls {
	position: absolute;
	top: 350px;
	left: 50%;
	width: 150px;
	margin-left: 0;
}

.controls a {
	display: block;
}

.controls .previous {
	float: left;
}

.controls .next {
	float: right;
}